anyio==latest
argon2-cffi==latest
argon2-cffi-bindings==latest
arrow==latest
asgiref==latest
asttokens==latest
async-lru==latest
attrs==latest
Babel==latest
beautifulsoup4==latest
bleach==latest
blinker==latestertifi==latest
cffi==latest
charset-normalizer==latest
comm==latest
# command-not-found==latestryptography==latest8
dbus-python==latest
debugpy==latest
decorator==latest
defusedxml==latest
distro==latest
# distro-info==latestbuntu0.2
Django==latest
django-cors-headers==latest
djangorestframework==latest
djangorestframework-simplejwt==latest
exceptiongroup==latest
executing==latest
fastjsonschema==latest
fqdn==latest
h11==latest
httpcore==latest
httplib2==latest
httpx==latest
idna==latestmportlib-metadata==latest
ipykernel==latest
ipython==latest
isoduration==latest
jedi==latest
jeepney==latest
Jinja2==latest
json5==latest
jsonpointer==latest
jsonschema==latest
jsonschema-specifications==latest
jupyter-events==latest
jupyter-lsp==latest
jupyter_client==latest
jupyter_core==latest
jupyter_server==latest
jupyter_server_terminals==latest
jupyterlab==latest
jupyterlab_pygments==latest
jupyterlab_server==latest
keyring==latest
launchpadlib==latest
lazr.restfulclient==latest
lazr.uri==latest
MarkupSafe==latest
matplotlib-inline==latest
mistune==latest
more-itertools==latest
mysql-connector-python==latest
# mysqlclient==latest
nbclient==latest
nbconvert==latest
nbformat==latest
nest-asyncio==latest
netifaces==latest
notebook_shim==latest
numpy==latest
oauthlib==latest
overrides==latest
packaging==latestpandocfilters==latest
parso==latest
pdfminer==latest
pdfminer.six==latest
pdfplumber==latest
pexpect==latest
pillow==latest
platformdirs==latest
prometheus_client==latest
prompt_toolkit==latest
psutil==latest
ptyprocess==latest
pure-eval==latest
pycairo==latest
pycparser==latestpycryptodome==latest
Pygments==latest
PyGObject==latest
PyJWT==latest
PyMySQL==latest
pyparsing==latest
pypdf==latest
pypdfium2==latest
# python-apt==latest+ubuntu3
python-dateutil==latest.post
python-dotenv==latest
python-json-logger==latest
PyYAML==latest
pyzmq==latest
referencing==latest
requests==latest
rest-framework-simplejwt==latest
rfc3339-validator==latest
rfc3986-validator==latest
rpds-py==latest
SecretStorage==latest
Send2Trash==latest
six==latest
sniffio==latest
soupsieve==latestqlparse==latest
stack-data==latest
# systemd-python==latesterminado==latest1
tesseract==latest
tinycss2==latest
tomli==latest
torch==latest
tornado==latest
traitlets==latest
types-python-dateutil==latest
typing_extensions==latest
# ubuntu-advantage-tools==latest
ufw==latest
unattended-upgrades==latestri-template==latest
urllib3==latest
wadllib==latest
wcwidth==latest
webcolors==latest
webencodings==latest
websocket-client==latest
zipp==latest
