annotated-types==latest
anyio==latest
apparmor==latest
argon2-cffi==latest
argon2-cffi-bindings==latest
arrow==latest
asgiref==latest
asttokens==latest
async-lru==latest
attrs==latest
Babel==latest
beautifulsoup4==latest
bleach==latest
blinker==latest
blis==latest
catalogue==latest
certifi==latest
cffi==latest
chardet==latest
charset-normalizer==latest
ci-info==latest
click==latest
cloudpathlib==latest
comm==latest
command-not-found==latest
confection==latest
configobj==latest
configparser==latest
cryptography==latest
cymem==latest
dbus-python==latest
debugpy==latest
decorator==latest
defusedxml==latest
distro==latest
distro-info==latest
Django==latest
django-cors-headers==latest
djangorestframework==latest
djangorestframework-simplejwt==latest
etelemetry==latest
exceptiongroup==latest
executing==latest
fastjsonschema==latest
filelock==latest
fitz==latest
fqdn==latest
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
h11==latest
httpcore==latest
httplib2==latest
httpx==latest
idna==latest
importlib-metadata==latest
ipykernel==latest
ipython==latest
isodate==latest
isoduration==latest
jedi==latest
jeepney==latest
Jinja2==latest
json5==latest
jsonpointer==latest
jsonschema==latest
jsonschema-specifications==latest
jupyter-events==latest
jupyter-lsp==latest
jupyter_client==latest
jupyter_core==latest
jupyter_server==latest
jupyter_server_terminals==latest
jupyterlab==latest
jupyterlab_pygments==latest
jupyterlab_server==latest
keyring==latest
langcodes==latest
language_data==latest
launchpadlib==latest
lazr.restfulclient==latest
lazr.uri==latest
LibAppArmor==latest
looseversion==latest
lxml==latest
marisa-trie==latest
markdown-it-py==latest
MarkupSafe==latest
matplotlib-inline==latest
mdurl==latest
mistune==latest
more-itertools==latest
murmurhash==latest
mysql==latest
mysql-connector-python==latest
mysqlclient==latest
nbclient==latest
nbconvert==latest
nbformat==latest
nest-asyncio==latest
netifaces==latest
networkx==latest
nibabel==latest
nipype==latest
notebook_shim==latest
numpy==latest
oauthlib==latest
overrides==latest
packaging==latest
pandas==latest
pandocfilters==latest
parso==latest
pathlib==latest
pdf2image==latest
pdfminer==latest
pdfminer.six==latest
pdfplumber==latest
pexpect==latest
pillow==latest
platformdirs==latest
preshed==latest
prometheus_client==latest
prompt_toolkit==latest
prov==latest
psutil==latest
ptyprocess==latest
pure-eval==latest
pycairo==latest
pycparser==latest
pycrypto==latest
pycryptodome==latest
pydantic==latest
pydantic_core==latest
pydot==latest
Pygments==latest
PyGObject==latest
PyJWT==latest
PyMuPDF==latest
PyMuPDFb==latest
PyMySQL==latest
pyparsing==latest
pypdf==latest
pypdfium2==latest
pytesseract==latest
python-apt==latest
python-dateutil==latest
python-dotenv==latest
python-json-logger==latest
pytz==latest
pyxnat==latest
PyYAML==latest
pyzmq==latest
rdflib==latest
referencing==latest
regex==latest
requests==latest
rest-framework-simplejwt==latest
rfc3339-validator==latest
rfc3986-validator==latest
rich==latest
rpds-py==latest
scipy==latest
SecretStorage==latest
Send2Trash==latest
shellingham==latest
simplejson==latest
six==latest
smart-open==latest
sniffio==latest
soupsieve==latest
spacy==latest
spacy-legacy==latest
spacy-loggers==latest
sqlparse==latest
srsly==latest
stack-data==latest
style==latest
systemd-python==latest
terminado==latest
tesseract==latest
thinc==latest
tinycss2==latest
tomli==latest
torch==latest
tornado==latest
tqdm==latest
traitlets==latest
traits==latest
typer==latest
types-python-dateutil==latest
typing_extensions==latest
tzdata==latest
ubuntu-pro-client==latest
ufw==latest
unattended-upgrades==latest
unicodecsv==latest
update==latest
uri-template==latest
urllib3==latest
wadllib==latest
Wand==latest
wasabi==latest
wcwidth==latest
weasel==latest
webcolors==latest
webencodings==latest
websocket-client==latest
wrapt==latest
zipp==latest
