asgiref==latest
blinker==latest
yptography==latest
dbus-python==latest

distro==latest
distro-info==latest
jango==latest
angorestframework==latest

djangorestframework-simplejwt==latest
django-cors-headers
httplib2==latest

importlib-metadata==latest
jeepney==latest
keyring==latest

launchpadlib==latest
lazr.restfulclient==latest

lazr.uri==latest
more-itertools==latest

netifaces==latest

numpy==latest

oauthlib==latest
PyGObject==latest

PyJWT==latest
PyMySQL==latest
pyparsing==latest
python-dotenv==latest
PyYAML==latest
rest-framework-simplejwt==latest
SecretStorage==latest
six==latest

sqlparse==latest
systemd-python==latest
torch==latest

typing_extensions==latest

# ubuntu-advantage-tools==latest
# ufw==latest

# unattended-upgrades==latest
wadllib==latest
# zipp==latest
